<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>empList.html</title>
</head>
<body>
<div>전체 건수: [[${#lists.size(list)}]]</div>
<div th:text="${#lists.size(list)}">10</div>
<table>
	<tr>
		<th>No.</th>
		<th>employee_id</th>
		<th>first_name</th>
		<th>last_name</th>
		<th>hire_date</th>
		<th>salary</th>
	</tr>
	<tr th:each="emp : ${list}">
		<td th:text="${empStat.count}">1</td>
		<td th:text="${emp.employeeId}">100</td>
		<td th:text="${emp.firstName}">scott</td>
		<td th:text="${emp.salary}">1000</td>
		<td th:text="${#dates.format(emp.hireDate, 'dd/MMM/yyyy HH:mm')}">2024-01-26</td>
		<td th:text="${emp.salary}">1000</td>
	</tr>
</table>
</body>
</html>